@import "tailwindcss";

@font-face {
    font-family: 'HP Simplified Light';
    /* Added leading slashes to point to the public directory */
    src: url('/css/font/HP Simplified Light.woff2') format('woff2'),
         url('/css/font/HP Simplified Light.woff') format('woff'),
         url('/css/font/HP Simplified Light.ttf') format('truetype'),
         url('/css/font/HP Simplified Light.eot'); /* IE9 Compat Modes */
    font-weight: normal;
    font-style: normal;
}


body, select, input, label, p, button, h1, h2, h3, h4, h5 {
    font-family: 'HP Simplified Light', sans-serif;
}


@theme {
    --font-hp: 'HP Simplified Light', sans-serif;
}